body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

#buttonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height to ensure buttons stay within visible bounds */
}

button {
  height: 5em;
  width: 10em;
  transition: all 0.3s ease;
  position: relative; /* Initially for flex layout */
}

.scramble button {
  position: absolute;
}
